.widzeCTX.sheet.player .asset-block {
  background-color: whitesmoke;
}
.widzeCTX.sheet.player .asset-block h2 {
  background-color: salmon;
  display: flex;
  justify-content: space-between;
}
.widzeCTX.sheet.player .asset-block .assetrow {
  display: flex;
}
