.widzeCTX.sheet.player .values-block {
  text-align: center;
  text-align-last: center;
  align-items: center;
}
.widzeCTX.sheet.player .values-block .value-name {
  font-size: large;
  font-family: monospace;
}
.widzeCTX.sheet.player .values-block .value-bone {
  font-size: medium;
}
