.widzeCTX.sheet.asset form {
  display: flex;
  flex-direction: column;
}
.widzeCTX.sheet.asset .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.widzeCTX.sheet.asset .sheet-content .editor {
  height: 100%;
}
.widzeCTX.sheet.good form {
  display: flex;
  flex-direction: column;
}
.widzeCTX.sheet.good .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.widzeCTX.sheet.good .sheet-content .editor {
  height: 100%;
}
.widzeCTX.sheet.player .values-block {
  text-align: center;
  text-align-last: center;
  align-items: center;
}
.widzeCTX.sheet.player .values-block .value-name {
  font-size: large;
  font-family: monospace;
}
.widzeCTX.sheet.player .values-block .value-bone {
  font-size: medium;
}
.widzeCTX .asset-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
}
.widzeCTX .asset-card .asset-name {
  width: 80%;
}
.widzeCTX .asset-card .asset-bone {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.widzeCTX.sheet.player .sheetBackground {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 150px;
  grid-template-rows: 200px repeat(4, 1fr);
  column-gap: 3%;
  row-gap: 5px;
  background-color: #ff7a9b38;
  height: 100%;
  width: 100%;
}
.widzeCTX.sheet.player .rightBar {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
  background-color: ghostwhite;
}
.widzeCTX.sheet.player .actor-img {
  padding-top: 15px;
  width: 100px;
  border-radius: 40px;
  border: 5px salmon;
}
.widzeCTX.sheet.player .assetBlock {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: ghostwhite;
}
.widzeCTX.sheet.player .asset-block {
  background-color: whitesmoke;
}
.widzeCTX.sheet.player .asset-block h2 {
  background-color: salmon;
}
.widzeCTX.sheet.complication form {
  display: flex;
  flex-direction: column;
}
.widzeCTX.sheet.complication .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.widzeCTX.sheet.complication .sheet-content .editor {
  height: 100%;
}
.widzeCTX.sheet.player .currentComplications {
  background-color: salmon;
}
.widzeCTX.sheet.player .currentComplications h2 {
  background-color: darkblue;
}
.widzeCTX.sheet.player .currentComplications .playerComplications .complication-item {
  display: inline-block;
  margin: 0 2px 0 0;
  background: rgba(0, 0, 0, 0.5);
  color: ghostwhite;
  padding: 0 3px;
  border: none;
  border-radius: 5px;
}
