<div class="boneDrop">
    <button class="boneDropButton">
        <img src=".icons/tall.png" class="currentBoneSize">
    </button>
    <div class="boneDropContent">
        <a href="#">
            <img src=".icons/short.png">
        </a>
        <a href="#">
            <img src=".icons/tall.png">
        </a>
        <a href="#">
            <img src=".icons/grande.png">
        </a>
        <a href="#">
            <img src=".icons/venti.png">
        </a>
        <a href="#">
            <img src=".icons/trenta.png">
        </a>
    </div>
</div>