<section class="currentComplications">
    <div> 
        <h2>
            <div>{{localize "widzeCTX.sheet.currentComplications"}}</div>
            {{#if isGM}}
            <a class="item-create" data-type="complication" title="{{localize "widzeCTX.sheet.addComplication"}}">
                <i class="fas fa-plus"></i>
            </a>
            {{/if}}
        </h2>
    </div>
    <ul class="playerComplications">
    {{#each complications as |complication id|}}
        <li class="complication-item" data-item-id="{{complication._id}}">
            <div>{{{complication.name}}}</div>
        </li>
    {{/each}}
    </ul>
</section>