<form class="{{cssClass}}" autocomplete="off">
    <div class="sheetBackground">
        <div class="rightBar">
            <div class="values">
                {{> "systems/widzeCTX/templates/partials/character-values.hbs"}}
            </div>
        </div>
        <div class="assetBlock">
            {{> "systems/widzeCTX/templates/partials/asset-block.hbs"}}
        </div>
        <div class="currentComplications">
            {{> "systems/widzeCTX/templates/partials/current-complications.hbs"}}
        </div>
    </div>
</form>